In [1]:
#Question 1: Consider the following Python module:
#a = 0
#def b():
#global a
#a = c(a)
#def c(a):
#return a + 2
#After importing the module into the interpreter, you execute:
#>>> b()
#>>> b()
#>>> b()
#>>> a
#?
#What value is displayed when the last expression (a) is evaluated? Explain your answer by indicating
#what happens in every executed statement.



#Answer:

a = 0

def b():
    global a
    a = c(a)
    
def c(a):
    return a + 2

b()
b()
b()
a

6

In [ ]:
#Question 2: 

#Function fileLength(), given to you, takes the name of a file as input and returns the length of the file:
#>>> fileLength('midterm.py') 284 >>> fileLength('idterm.py') Traceback (most recent call last): File "<pyshell#34>", 
#line 1, in <module> fileLength('idterm.py') File "/Users/me/midterm.py", line 3, in fileLength infile = open(filename) 
#FileNotFoundError: [Errno 2] No such file or directory: 'idterm.py'
#As shown above, if the file cannot be found by the interpreter or if it cannot be read as a text file, 
#an exception will be raised. Modify function fileLength() so that a friendly message is printed instead: 
#>>> fileLength('midterm.py') 358 >>> fileLength('idterm.py') File idterm.py not found.



#Answer:

In [13]:
#Question 3A:

#Write a class named Marsupial that can be used as shown below: >>> m = Marsupial() >>> m.put_in_pouch('doll') 
#>>> m.put_in_pouch('firetruck') >>> m.put_in_pouch('kitten') >>> m.pouch_contents() ['doll', 'firetruck', 'kitten']
#Now write a class named Kangaroo as a subclass of Marsupial that inherits all the attributes of Marsupial and also:

# extends the Marsupial __init__ constructor to take, as input, the coordinates x and y of the Kangaroo object,



#Answwer:

class Marsupial:
    def __init__(self):
        self.pouch = []
    
    def put_in_pouch(self, item):
        self.pouch.append(item)
        
    def pouch_contents(self):
        print(self.pouch)

    
m = Marsupial()
m.put_in_pouch('doll')
m.put_in_pouch('firetruck')
m.put_in_pouch('kitten')
m.pouch_contents()

['doll', 'firetruck', 'kitten']

In [2]:
#Question 3B:

#supports method jump that takes number values dx and dy as input and moves the kangaroo 
#by dx units along the x-axis and by dy units along the y-axis, and



#Answer


class Marsupial:
    def __init__(self, xcoord, ycoord):
        self.pouch = []
        self.x = xcoord
        self.y = ycoord
    
    def put_in_pouch(self, item):
        self.pouch.append(item)
        
    def pouch_contents(self):
        print(self.pouch)

class Kangaroo(Marsupial):
    def __str__(self):
        message = 'I am a Kangaroo located at coordinates ({},{})'.format(self.x,self.y)
        return message
    
    def jump(self, dx, dy):
        self.x += dx
        self.y += dy
    
k = Kangaroo(0,0)
print(k)
k.put_in_pouch('doll')
k.put_in_pouch('firetruck')
k.put_in_pouch('kitten')
k.pouch_contents()
k.jump(1,0)
k.jump(1,0)
k.jump(1,0)
print(k)

I am a Kangaroo located at coordinates (0,0)
['doll', 'firetruck', 'kitten']
I am a Kangaroo located at coordinates (3,0)

In [14]:
#Question 3C:

#overloads the __str__ operator so it behaves as shown below.
#>>> k = Kangaroo(0,0) >>> print(k) I am a Kangaroo located at coordinates (0,0) 
#>>> k.put_in_pouch('doll') >>> k.put_in_pouch('firetruck') >>> k.put_in_pouch('kitten') 
#>>> k.pouch_contents() ['doll', 'firetruck', 'kitten'] >>> k.jump(1,0) >>> k.jump(1,0) 
#>>> k.jump(1,0) >>> print(k) I am a Kangaroo located at coordinates (3,0)



#Answer

class Marsupial:
    def __init__(self):
        self.pouch = []

    def put_in_pouch(self, item):
        self.pouch.append(item)

    def pouch_contents(self):
        return self.pouch


class Kangaroo(Marsupial):
    def __init__(self, x, y):
        super().__init__()
        self.x = x
        self.y = y

    def jump(self, dx, dy):
        self.x += dx
        self.y += dy

    def __str__(self):
        return f"I am a Kangaroo located at coordinates ({self.x},{self.y})"


# Test Marsupial class
m = Marsupial()
m.put_in_pouch('doll')
m.put_in_pouch('firetruck')
m.put_in_pouch('kitten')
print(m.pouch_contents())

# Test Kangaroo class
k = Kangaroo(0, 0)
print(k)
k.put_in_pouch('doll')
k.put_in_pouch('firetruck')
k.put_in_pouch('kitten')
print(k.pouch_contents())
k.jump(1, 0)
k.jump(1, 0)
k.jump(1, 0)
print(k)

['doll', 'firetruck', 'kitten']
I am a Kangaroo located at coordinates (0,0)
['doll', 'firetruck', 'kitten']
I am a Kangaroo located at coordinates (3,0)

In [1]:
# Question 4

#Write function collatz() that takes a positive integer x as input and prints the Collatz sequence starting at x. 
#A Collatz sequence is obtained by repeatedly applying this rule to the previous number x in the sequence:
#x = { 𝑥/2 𝑖𝑓 𝑥 𝑖𝑠 𝑒𝑣𝑒𝑛3𝑥+1 𝑖𝑓 𝑥 𝑖𝑠 𝑜𝑑𝑑
#Your function should stop when the sequence gets to number 1. Your implementation must be recursive, without any loops.
#>>> collatz(1)
#1
#>>> collatz(10)
#10
#5
#16
#8
#4
#2
#1



#Answer

def collatz(x):
    print(x)
    while x!=1:
        if x % 2 == 1:
            x = 3 * x + 1
        else:
            x = x / 2
        print(int(x))
        
collatz(16)

16
8
4
2
1

In [3]:
# Question 5:

#Write a recursive method binary() that takes a non-negative integer n and prints the binary representation of integer n.
#>>> binary(0) 0 >>> binary(1) 1 >>> binary(3) 11 >>> binary(9) 1001


#Answer:

def binary(n):
    if n < 0:
        print('Please enter non-negative integer')
    elif n == 0:
        return 0
    else:
        bin = ''
        while n >= 1:
            remainder = str((n % 2))
            bin = remainder + bin
            n = n // 2
        return int(bin)

binary(168)

10101000

In [1]:
#Question 6:

#Implement a class named HeadingParser that can be used to parse an HTML document, and retrieve and print all the headings 
#in the document. You should implement your class as a subclass of HTMLParser, defined in Standard Library module html.parser. 
#When fed a string containing HTML code, your class should print the headings, one per line and in the order in which they 
#appear in the document. Each heading should be indented as follows: an h1 heading should have indentation 0, and h2 heading 
#should have indentation 1, etc. Test your implementation using w3c.html.
#>>> infile = open('w3c.html')
#>>> content = infile.read()
#>>> infile.close()
#>>> hp = HeadingParser()
#>>> hp.feed(content)
#W3C Mission
#Principles


#Answer: 

from html.parser import HTMLParser

class HeadingParser(HTMLParser):
    def __init__(self):
        HTMLParser.__init__(self)
        self.start = False
        self.hearder = ''
    
    def handle_starttag(self, tag, attrs):
        if len(tag) == 2:
            if tag[:1] == 'h':
                self.start = True
                self.header = tag
    
    def handle_data(self, data):
        if self.start == True:
            if data.strip():
                indt = int(self.header[1:])-1
                print(' '*indt + data)

infile = open('w3c.txt')
content = infile.read()
infile.close()
hp = HeadingParser()
hp.feed(content)

W3C Mission
 Principles

In [15]:
#Question 7:

#Implement recursive function webdir() that takes as input: a URL (as a string) and non-negative integers depth and indent. 
#Your function should visit every web page reachable from the starting URL web page in depth clicks or less, and print each 
#web page's URL. As shown below, indentation, specified by indent, should be used to indicate the depth of a URL. 
#>>> webdir('http://reed.cs.depaul.edu/lperkovic/csc242/test1.html', 2, 0) http://reed.cs.depaul.edu/lperkovic/csc242/test1.html 
#http://reed.cs.depaul.edu/lperkovic/csc242/test2.html http://reed.cs.depaul.edu/lperkovic/csc242/test4.html 
#http://reed.cs.depaul.edu/lperkovic/csc242/test3.html http://reed.cs.depaul.edu/lperkovic/csc242/test4.html


#Answer: 

import requests
from bs4 import BeautifulSoup

def webdir(url, depth, indent):
    if depth == 0:
        return
    
    try:
        response = requests.get(url)
        soup = BeautifulSoup(response.content, 'html.parser')
        print(' ' * indent + url)

        # Find all links on the page
        links = soup.find_all('a', href=True)
        for link in links:
            next_url = link['href']
            if next_url.startswith('http'):  # Check if it's an absolute URL
                webdir(next_url, depth - 1, indent + 4)  # Recursive call with reduced depth and increased indentation
    except Exception as e:
        print(' ' * indent + f"Error accessing {url}: {e}")

# Test the function
webdir('http://reed.cs.depaul.edu/lperkovic/csc242/test1.html', 2, 0)

http://reed.cs.depaul.edu/lperkovic/csc242/test1.html

In [8]:
#Question 8:

#Write SQL queries on the below database table that return:
#a) All the temperature data.
#b) All the cities, but without repetition.
#c) All the records for India.
#d) All the Fall records.
#e) The city, country, and season for which the average rainfall is between 200 and 400 millimeters.
#f) The city and country for which the average Fall temperature is above 20 degrees, in increasing temperature order.
#g) The total annual rainfall for Cairo.
#h) The total rainfall for each season.


#Answer:


!pip install ipython-sql

Requirement already satisfied: ipython-sql in c:\users\user\anaconda3\lib\site-packages (0.5.0)
Requirement already satisfied: prettytable in c:\users\user\anaconda3\lib\site-packages (from ipython-sql) (3.10.0)
Requirement already satisfied: ipython in c:\users\user\anaconda3\lib\site-packages (from ipython-sql) (8.15.0)
Requirement already satisfied: sqlalchemy>=2.0 in c:\users\user\anaconda3\lib\site-packages (from ipython-sql) (2.0.27)
Requirement already satisfied: sqlparse in c:\users\user\anaconda3\lib\site-packages (from ipython-sql) (0.4.4)
Requirement already satisfied: six in c:\users\user\anaconda3\lib\site-packages (from ipython-sql) (1.16.0)
Requirement already satisfied: ipython-genutils in c:\users\user\anaconda3\lib\site-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\users\user\anaconda3\lib\site-packages (from sqlalchemy>=2.0->ipython-sql) (4.7.1)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\user\anaconda3\lib\site-packages (from sqlalchemy>=2.0->ipython-sql) (2.0.1)
Requirement already satisfied: backcall in c:\users\user\anaconda3\lib\site-packages (from ipython->ipython-sql) (0.2.0)
Requirement already satisfied: decorator in c:\users\user\anaconda3\lib\site-packages (from ipython->ipython-sql) (5.1.1)
Requirement already satisfied: jedi>=0.16 in c:\users\user\anaconda3\lib\site-packages (from ipython->ipython-sql) (0.18.1)
Requirement already satisfied: matplotlib-inline in c:\users\user\anaconda3\lib\site-packages (from ipython->ipython-sql) (0.1.6)
Requirement already satisfied: pickleshare in c:\users\user\anaconda3\lib\site-packages (from ipython->ipython-sql) (0.7.5)
Requirement already satisfied: prompt-toolkit!=3.0.37,<3.1.0,>=3.0.30 in c:\users\user\anaconda3\lib\site-packages (from ipython->ipython-sql) (3.0.36)
Requirement already satisfied: pygments>=2.4.0 in c:\users\user\anaconda3\lib\site-packages (from ipython->ipython-sql) (2.15.1)
Requirement already satisfied: stack-data in c:\users\user\anaconda3\lib\site-packages (from ipython->ipython-sql) (0.2.0)
Requirement already satisfied: traitlets>=5 in c:\users\user\anaconda3\lib\site-packages (from ipython->ipython-sql) (5.7.1)
Requirement already satisfied: colorama in c:\users\user\anaconda3\lib\site-packages (from ipython->ipython-sql) (0.4.6)
Requirement already satisfied: wcwidth in c:\users\user\anaconda3\lib\site-packages (from prettytable->ipython-sql) (0.2.5)
Requirement already satisfied: parso<0.9.0,>=0.8.0 in c:\users\user\anaconda3\lib\site-packages (from jedi>=0.16->ipython->ipython-sql) (0.8.3)
Requirement already satisfied: executing in c:\users\user\anaconda3\lib\site-packages (from stack-data->ipython->ipython-sql) (0.8.3)
Requirement already satisfied: asttokens in c:\users\user\anaconda3\lib\site-packages (from stack-data->ipython->ipython-sql) (2.0.5)
Requirement already satisfied: pure-eval in c:\users\user\anaconda3\lib\site-packages (from stack-data->ipython->ipython-sql) (0.2.2)

In [15]:
%reload_ext sql

In [11]:
%sql sqlite://

In [12]:
%%sql

DROP TABLE IF EXISTS Weather;

CREATE TABLE IF NOT EXISTS Weather(
    City varchar(15), 
    Country varchar(15), 
    Season varchar(15), 
    Temperature float, 
    Rainfall float);

 * sqlite://
Done.
Done.

[]

In [13]:
%%sql

INSERT INTO Weather VALUES('Mumbai', 'India', 'Winter', 24.8,5.9),
('Mumbai', 'India', 'Spring', 28.4,16.2),
('Mumbai', 'India', 'Summer', 27.9,1549.4),
('Mumbai', 'India', 'Fall', 27.6,346.0),
('London', 'United kingdom', 'Winter', 4.2,207.7),
('London', 'United kingdom', 'Spring', 8.3,169.6),
('London', 'United kingdom','Summer', 15.7,157.0),
('London', 'United kingdom','Fall', 10.4,218.5),
('Cairo', 'Egypt','Winter', 13.6,16.5),
('Cairo', 'Egypt', 'Spring', 20.7,6.5),
('Cairo', 'Egypt', 'Summer', 27.7,0.1),
('Cairo', 'Egypt', 'Fall', 22.2,4.5)

 * sqlite://
12 rows affected.

[]

In [19]:
#Question 8A
%%sql

SELECT Temperature FROM Weather;

 * sqlite://
Done.

[(24.8,),
 (28.4,),
 (27.9,),
 (27.6,),
 (4.2,),
 (8.3,),
 (15.7,),
 (10.4,),
 (13.6,),
 (20.7,),
 (27.7,),
 (22.2,)]

In [18]:
#Question 8b

%%sql

SELECT DISTINCT City FROM Weather;

 * sqlite://
Done.

[('Mumbai',), ('London',), ('Cairo',)]

In [20]:
#Question 8c.

%%sql

SELECT * FROM Weather
WHERE Country LIKE 'India';

 * sqlite://
Done.

[('Mumbai', 'India', 'Winter', 24.8, 5.9),
 ('Mumbai', 'India', 'Spring', 28.4, 16.2),
 ('Mumbai', 'India', 'Summer', 27.9, 1549.4),
 ('Mumbai', 'India', 'Fall', 27.6, 346.0)]

In [21]:
#Question 8D.

%%sql

SELECT * FROM Weather
WHERE season LIKE 'Fall';

 * sqlite://
Done.

[('Mumbai', 'India', 'Fall', 27.6, 346.0),
 ('London', 'United kingdom', 'Fall', 10.4, 218.5),
 ('Cairo', 'Egypt', 'Fall', 22.2, 4.5)]

In [22]:
#Question 8E.

%%sql

SELECT City, Country, Season FROM Weather
WHERE Rainfall >= 200 AND Rainfall <=400;

 * sqlite://
Done.

[('Mumbai', 'India', 'Fall'),
 ('London', 'United kingdom', 'Winter'),
 ('London', 'United kingdom', 'Fall')]

In [23]:
#Question 8F

%%sql

SELECT City, Country FROM Weather
WHERE Temperature > 20 AND Season LIKE 'Fall'
ORDER BY Temperature ASC;

 * sqlite://
Done.

[('Cairo', 'Egypt'), ('Mumbai', 'India')]

In [24]:
#Question 8G.

%%sql

SELECT SUM(Rainfall) AS Total_Rainfall FROM Weather
WHERE City LIKE 'Cairo';

 * sqlite://
Done.

[(27.6,)]

In [25]:
#Question 8H.

%%sql

SELECT season, SUM(Rainfall) AS Total_Rainfall FROM Weather
GROUP BY season;

 * sqlite://
Done.

[('Fall', 569.0),
 ('Spring', 192.29999999999998),
 ('Summer', 1706.5),
 ('Winter', 230.1)]

In [5]:
#Question 9:

#Suppose list words is defined as follows:
#>>> words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']
#Write list comprehension expressions that use list words and generate the following lists:
#a) ['THE', 'QUICK', 'BROWN', 'FOX', 'JUMPS', 'OVER', 'THE', 'LAZY', 'DOG']
#b) ['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']
#c) [3, 5, 5, 3, 5, 4, 3, 4, 3] (the list of lengths of words in list words).
#d) [['THE', 'the', 3], ['QUICK', 'quick', 5], ['BROWN', 'brown', 5], ['FOX', 'fox', 3], ['JUMPS', 'jumps', 5], ['OVER', 'over', 4], ['THE', 'the', 3], ['LAZY', 'lazy', 4], ['DOG', 'dog', 3]] (the list containing a list for every word of list words, where each list contains the word in uppercase and lowercase and the length of the word.)
#e) ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog'] (the list of words in list words containing 4 or more characters.)


#Answer:

words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']

a = []
for word in words:
    a.append(word.upper())
    
print(a)

b = []
for word in words:
    b.append(word.lower())
print(b)

c = []
for word in words:
    c.append(len(word))
    
print(c)

d = []
for word in words:
    list = []
    list.append(word.upper())
    list.append(word.lower())
    list.append(len(word))
    d.append(list)
    
print(d)

e = []
for word in words:
    if len(word) >= 4:
        e.append(word)

print(e)

['THE', 'QUICK', 'BROWN', 'FOX', 'JUMPS', 'OVER', 'THE', 'LAZY', 'DOG']
['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']
[3, 5, 5, 3, 5, 4, 3, 4, 3]
[['THE', 'the', 3], ['QUICK', 'quick', 5], ['BROWN', 'brown', 5], ['FOX', 'fox', 3], ['JUMPS', 'jumps', 5], ['OVER', 'over', 4], ['THE', 'the', 3], ['LAZY', 'lazy', 4], ['DOG', 'dog', 3]]
['quick', 'brown', 'jumps', 'over', 'lazy']